/* register.component.css */
.card {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.invalid-feedback {
  display: block;
  color: #dc3545;
}

.btn-dark {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  background-color: #23272b;
  border-color: #1d2124;
}

label{
  color:#ffffff;
  text-align: left;
  margin:0px;
  border:1px dashed salmon;
}

form{
  width: 40%;
}

.row{
  margin-bottom:10px;
}

.form-group{
  display: flex;
  justify-content: flex-start;
}
