<div class="wallet-container">
  <!-- Columna Izquierda: Menú de Navegación -->
  <div class="sidebar">
    <ul class="menu">
      <li (click)="setView('bitcoin')" [class.active]="currentView === 'bitcoin'">
        <i class="fab fa-bitcoin"></i> Bitcoin (BTC)
      </li>
      <li (click)="setView('ethereum')" [class.active]="currentView === 'ethereum'">
        <i class="fab fa-ethereum"></i> Ethereum (ETH)
      </li>
      <li (click)="setView('gold')" [class.active]="currentView === 'gold'">
        <i class="fa-solid fa-coins"></i> Gold
      </li>
      <li (click)="setView('binance')" [class.active]="currentView === 'binance'">
        <i class="fab fa-btc"></i> Binance (BNB)
      </li>
    </ul>
  </div>

  <!-- Columna Derecha: Vista Dinámica -->
  <div class="coins-content">
    <div *ngIf="currentView">
      <h3>{{ currentView | titlecase }}</h3>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><strong>Hedge Fund Investment:</strong></td>
            <td>{{ selectedCoin?.hedgeFundInvestment | currency }}</td>
          </tr>
          <tr>
            <td><strong>Bonificat:</strong></td>
            <td>{{ selectedCoin?.bonificat | currency }}</td>
          </tr>
          <tr>
            <td><strong>Hedge Protection Insurance:</strong></td>
            <td>{{ selectedCoin?.hedgeProtectionInsurance | currency }}</td>
          </tr>
          <tr>
            <td><strong>Opt Quantity:</strong></td>
            <td>{{ selectedCoin?.optQuantity }}</td>
          </tr>
          <tr>
            <td><strong>Strike Price:</strong></td>
            <td>{{ selectedCoin?.strikePrice | currency }}</td>
          </tr>
          <tr>
            <td><strong>Expiration Date:</strong></td>
            <td>{{ selectedCoin?.expirationDate }}</td>
          </tr>
          <tr>
            <td><strong>Earnings:</strong></td>
            <td>{{ selectedCoin?.earnings | currency }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
