<div class="wallet-container">
  <!-- Columna Izquierda: Menú de Navegación -->
  <div class="sidebar">
    <ul class="menu">
      <li (click)="setView('bitcoin')" [class.active]="currentView === 'bitcoin'">
        <i class="fab fa-bitcoin"></i> Bitcoin (BTC)
      </li>
      <li (click)="setView('ethereum')" [class.active]="currentView === 'ethereum'">
        <i class="fab fa-ethereum"></i> Ethereum (ETH)
      </li>
      <li (click)="setView('gold')" [class.active]="currentView === 'gold'">
        <i class="fa-solid fa-coins"></i> Gold
      </li>
      <li (click)="setView('binance')" [class.active]="currentView === 'binance'">
        <i class="fab fa-btc"></i> Binance (BNB)
      </li>
    </ul>
  </div>

  <!-- Columna Derecha: Vista Dinámica -->
  <div class="coins-content">
    <div *ngIf="currentView">
      <h3>{{ currentView | titlecase }}</h3>
     <!-- <p><strong>Total Equity:</strong> {{ totalEquity | currency }}</p>
      <p><strong>Available Margin:</strong> {{ availableMargin | currency }}</p>-->
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><strong>Total Equity:</strong></td>
            <td>{{ totalEquity | currency }}</td>
          </tr>
          <tr>
            <td><strong>Available Margin:</strong></td>
            <td>{{ availableMargin | currency }}</td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex gap-2">
        <button class="btn btn-success" style="border-radius: 3px;">Deposit</button>
        <button class="btn btn-danger" style="border-radius: 3px;">Withdraw</button>
      </div>
      
    </div>
  </div>
</div>
