/* Opcional: Ajustar el tamaño y el espaciado de las tarjetas */
.card {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
  }
  
  .card-body {
    padding: 1.25rem;
  }
  
  .row {
    margin-bottom: -15px; /* Opcional: Ajustar el espaciado entre filas */
  }
  
  .col-md-3 {
    margin-bottom: 1rem; /* Ajustar el margen inferior */
  }
  