.index-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%; /* Ajusta el ancho según el diseño del carrusel */
  }
  
  .index-item h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .index-item .value {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .index-item .change {
    font-size: 14px;
    color: green; /* Cambia a rojo si el cambio es negativo */
  }
  
  .index-item .change-icon {
    margin-left: 5px;
  }
  
  /* Ajusta el estilo del carrusel si es necesario */
  .c-carousel-item {
    text-align: center;
  }
  